body {
    width:500px;
    margin:auto;
}

header {
    text-align:center;
    padding-top:5px;
}
    header a {
        color:#29d7d7;
        font-weight:bold;
    }
    header ul {
        list-style:none;
        margin: 5px 0;
    }
        header li {
            display:inline-block;
        }

#main-area {
    padding:5px;
    margin:auto;
}

#computers-info {
    display:inline-block;
    border:1px solid black;
    width:66%;
    padding:5px;
}

    #computers-info fieldset {
        display:inline-block;
        border:1px solid black;
        padding:2px;
    }
        #computers-info fieldset img {
            width:80px;
        }

        #computers-info fieldset div {
            display:inline-block;
        }

            #computers-info fieldset div p {
                font-size:12px;
                margin:10px 5px 5px 0;
            }

            #computers-info fieldset div .price {
                text-align:center;
                margin:0px 5px 5px 0;
            }



#filter {
    width:30%;
    display:inline-block;
}

    #filter input {
        margin:15px 5px 20px 5px;
    }

hr {
    width:560px;
}




