body {
}
#main-area {
    border:2px solid #685849;
    border-radius:5px;
    width:570px;
    background-color:#3b3b3b;
    padding:10px;
}
#log-area {
    background-image:url("from_shadow.jpg")
}


#text-area {
    color:#707070;
}

header {
    color:white;
    font-weight:bold;
}

label, input, img  {
    display: inline-block;
    float: left;
}
img {
    width:40px;
    height:40px;
    margin-bottom:5px;
}

label {
    padding:8px;
}

input {
    margin:8px;
}

    input[type=submit] {
        border:1px solid #e30808;
        box-shadow: 0 0 0 1px #e4807d, 0 0 0 2px #9b9d9c;
        border-radius:6px;
        color:#e58886;
        background: rgb(251,13,14); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(251,13,14,1) 0%, rgba(204,2,8,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,13,14,1)), color-stop(100%,rgba(204,2,8,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(251,13,14,1) 0%,rgba(204,2,8,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(251,13,14,1) 0%,rgba(204,2,8,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(251,13,14,1) 0%,rgba(204,2,8,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(251,13,14,1) 0%,rgba(204,2,8,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb0d0e', endColorstr='#cc0208',GradientType=0 ); /* IE6-9 */

    }

.clearfix {
    zoom:1;
}
    .clearfix:after {
        content: "";
        display:block;
        clear:both;
        height:0;
    }
hr {
    border: 0;
    height: 10px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

h1 {
    color:#f9d61a;
}

span {
    color:#9d9d9d;
}


